*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10101E;
}

.btn{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 400px;
    text-decoration: none;
    padding: 10px;
    height: 65px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background: #db8ae5;
    box-shadow: 0 0 30px #db8ae5;
}


.four{
    color: white;
}